---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import CoreValues from '../components/CoreValues.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout title='AAMCO - Carreras'>
  <Header />

  <main>
    <section>
      <div class='container__banner'>
        <img src='./banner.jpg' width='1280' height='720' alt='Banner' />
      </div>
    </section>

    <section class='section container'>
      <h2 class='text-center'>Misión</h2>

      <p class='text-center'>
        Nuestra misión es proveer a los conductores de todo el mundo las transmisiones más robustas, con el respaldo de
        la garantía mas inclusiva en el mundo.
      </p>
    </section>

    <section class='section container'>
      <h2 class='text-center'>Visión</h2>

      <p class='text-center'>Dominar en múltiples estados el mercado de reparación de transmisiones.</p>
    </section>

    <section class='section container'>
      <video src='./promotional.mp4' poster='./poster-video.jpg' controls></video>
    </section>

    <CoreValues />

    <ContactForm />
  </main>

  <Footer />
</Layout>

<style>
  /* ******************** Banner ******************** */
  .container__banner {
    display: flex;
  }

  .container__banner img {
    width: 100%;
    max-height: 31.25rem;
    object-fit: cover;
    object-position: top;
  }
</style>
