<footer class='section footer'>
  <div class='container'>
    <div class='footer__content'>
      <a href='/' class='nav__logo'>
        <img src='./logo-aamco.png' width='80' height='50' alt='Logo AAMCO' />
      </a>

      <div class='footer__data'>
        <div class='footer__data-contact'>
          <h3>Información de Contacto</h3>

          <div class='footer__contact-information'>
            <p>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                stroke-width='2'
                stroke='currentColor'
                fill='none'
                stroke-linecap='round'
                stroke-linejoin='round'
              >
                <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
                <path
                  d='M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2'
                ></path>
              </svg>
              <span>345 432 4322</span>
            </p>

            <p>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                stroke-width='2'
                stroke='currentColor'
                fill='none'
                stroke-linecap='round'
                stroke-linejoin='round'
              >
                <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
                <path d='M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z'></path>
                <path d='M3 7l9 6l9 -6'></path></svg
              ><span>contact@aamco.com</span>
            </p>
          </div>
        </div>

        <div class='footer__data-social'>
          <h3>Redes Sociales</h3>

          <div class='footer__social-information'>
            <a href='https://www.facebook.com/' target='_blank' rel='noopener noreferrer'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                stroke-width='2'
                stroke='currentColor'
                fill='none'
                stroke-linecap='round'
                stroke-linejoin='round'
              >
                <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
                <path d='M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3'></path>
              </svg>
            </a>

            <a href='https://www.instagram.com/' target='_blank' rel='noopener noreferrer'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                stroke-width='2'
                stroke='currentColor'
                fill='none'
                stroke-linecap='round'
                stroke-linejoin='round'
              >
                <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
                <path d='M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z'></path>
                <path d='M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0'></path>
                <path d='M16.5 7.5l0 .01'></path>
              </svg>
            </a>

            <a href='https://www.twitter.com/' target='_blank' rel='noopener noreferrer'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                stroke-width='2'
                stroke='currentColor'
                fill='none'
                stroke-linecap='round'
                stroke-linejoin='round'
              >
                <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
                <path
                  d='M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z'
                ></path>
              </svg>
            </a>

            <a href='https://www.linkedin.com/' target='_blank' rel='noopener noreferrer'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                width='24'
                height='24'
                viewBox='0 0 24 24'
                stroke-width='2'
                stroke='currentColor'
                fill='none'
                stroke-linecap='round'
                stroke-linejoin='round'
              >
                <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
                <path d='M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z'></path>
                <path d='M8 11l0 5'></path>
                <path d='M8 8l0 .01'></path>
                <path d='M12 16l0 -5'></path>
                <path d='M16 16v-3a2 2 0 0 0 -4 0'></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>

    <p class='footer__rights text-center'>Todos los derechos reservados AAMCO. 2023</p>
  </div>
</footer>

<style>
  /* ******************** Footer ******************** */
  .footer {
    background-color: var(--space-cadet-color);
    padding-bottom: 2.5rem;
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footer__data {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    transition: all 0.3s;
  }

  .footer__data-contact,
  .footer__data-social {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .footer__data-contact h3,
  .footer__data-social h3 {
    color: var(--white-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semibold);
  }

  .footer__contact-information {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .footer__contact-information p {
    color: var(--white-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--small-font-size);
  }

  .footer__contact-information p span {
    font-weight: var(--font-regular);
  }

  .footer__social-information {
    display: flex;
    gap: 1rem;
  }

  .footer__social-information a {
    color: var(--white-color);
    font-size: var(--small-font-size);
    transition: all 0.3s ease;
  }

  .footer__social-information a:hover {
    color: var(--english-vermillion-color);
    transform: translateY(-0.25rem);
  }

  .footer__rights {
    color: var(--white-color);
    font-size: var(--small-font-size);
    margin-top: 2.5rem;
    padding: 2.5rem 0 0;
    border-top: 1px solid var(--cool-grey-color);
  }

  @media screen and (min-width: 576px) {
    .footer__data {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 767px) {
    .footer__data {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
